.topnav {
	background-color: #4d4d4d;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #404040;
	text-align: center;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	outline: none;
	border: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a:active {
	background-color: #bfbfbf;
	color: white;
}