.background {
	background-color: #1a1a1a;
}

p {
	color: #cc0000;
    font-size: 30px;
    text-align: center;
    font-family: "Courier New";
}

select {
	text-align: center;
    position: relative;
    font-family: "Courier New";
    width:200px;
    height:40px;
    cursor: pointer; 
}

input[type=submit] {
	padding: 15px 25px;
	font-size: 20px;
	font-family: "Courier New";
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #e60000;
	background-color: #800000;
	border: none;
}

input[type=text], input[type=number] {
	width:200px;
    height:40px;
	font-size: 20px;
	font-family: "Courier New";
	text-align: center;
	outline: none;
	color: #e60000;
	border: none;
}

table {
	margin-left:auto;
    margin-right:auto;
    border:1px solid #cc0000;
}

th {
	text-align: center;
	text-transform: uppercase;
	color: #cc0000;
	border-bottom: 1px solid #cc0000;
	padding: 5px 15px;
	background-color: #800000;
}

td {
	height: 30px;
	text-align: center;
	vertical-align: middle;
	color: #cc0000;
	padding: 5px 15px;
}

tr:hover {
	background-color: black;
}

.header {
	text-align: center;
	background: #330000;
	color: #cc0000;
	text-transform: uppercase;
	font-size: 200%;
}

.centar {
	background-color: #919191;
	text-align: center;
}

a {
	color: #cc0000;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border: none;
}

a:hover {
	color: white;
	text-decoration: none;
}